*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.social-media{
    
    /* outline: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.social-media img{
    height: 6rem;
    width: 6rem;
}

@media (max-width: 575.98px) { /* Target extra small devices */ 

    .main{ 
  
        .main {
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            margin-right: auto;
            margin-left: auto;
        }  
    }
  
  } 